.input {
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
  padding: 15px;
}

/* .input:focus {
    border-bottom: 1px solid #4285f4;
  }
*/
.input-label {
  display: flex;
  flex-direction: column;
}

.input-error {
  box-sizing: border-box;
  color: #ee3465;
  font-size: 10px;
  height: 12px;
  margin-top: 5px;
  opacity: 0;
  line-height: 1.2;
  transition: opacity 0.3s;
}

.input-error_visible {
  opacity: 1;
}
