.profile {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.profile__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  padding-top: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__label {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*
  .profile__label:first-child:before {
    position: absolute;
    content: "Имя";
  }
  
  .profile__label:nth-last-child(2):before {
    position: absolute;
    content: "E-mail";
  }
  */
.profile__input {
  background-color: transparent;
  border: none;
  color: white;
  text-align: end;
  outline: none;
  flex-basis: 100%;
}

.profile__input:focus {
  border-bottom: 1px solid #4285f4;
}

.profile__submit {
  margin-top: 200px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__submit:hover {
  text-shadow: rgb(0, 255, 149) 1px 0 10px;
}

.profile__submit_disabled {
  margin-top: 220px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.4);
}

.profile__logout {
  margin-top: 16px;
  padding: 0;
  color: rgba(238, 52, 101, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__form {
    padding-top: 95px;
  }

  .profile__submit {
    margin-top: 192px;
  }
}

@media screen and (max-width: 640px) {
  .profile__form {
    padding-top: 80px;
    gap: 16px;
  }

  .profile {
    padding: 70px 30px;
    box-sizing: border-box;
  }

  .profile__submit {
    margin-top: 364px;
  }
}
