.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 70px 125px 70px;
}

.portfolio__title {
  font-size: 18px;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.portfolio__text {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__text {
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
  }

  .portfolio__list {
    gap: 18px;
  }
}

@media screen and (max-width: 375px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }
}
