.search {
  padding: 85px 0 49px 0;
  margin-left: 70px;
  margin-right: 70px;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #424242;
}

.search__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.search__movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search__form-input {
  position: relative;
  background-color: #2F2F2F;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  outline: none;
  text-align: start;
  align-self: center;
  padding-left: 20px;
  color: white;
}

.search__form-input::placeholder {
  
}

.search__form-input:focus {
  border-bottom: 1px solid #4285f4;
}

.search__submit {
  background: rgba(66, 133, 244, 1);
  border: none;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-image: url(../../images/arrow-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .search {
    margin: 60px 30px 0px 30px;
    padding: 20px 0 40px 0;
  }
}

@media screen and (max-width: 640px) {
  .search {
    position: relative;
  }
  .search__form:after {
    height: 0;
  }
  .search__form {
    padding: 0;
  }
  .search__form::before {
    width: 0;
  }
  .search__form-input {
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .search {
    margin: 58px 10px 10px 10px;
    padding: 20px 0;
  }

  .search__submit {
    width: 58px;
  }

  .search__form-input {
    margin-right: 10px;
    height: 44px;
  }
}
