.filter {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;
}

.filter__label {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.filter__input {
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  outline: none;
  background: #343434;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
}

.filter__input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background: #a0a0a0;
  transition: 0.3s;
  transform: scale(0.8);
}

.filter__input:checked {
  background-color: rgba(61, 220, 132, 1);
}

.filter__input:checked::before {
  left: 16px;
  background-color: #ffff;
}
