.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 20px 70px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1;
  justify-content: flex-end;
}

.footer__title {
  text-align: center;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}

.footer__link {
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
}

.footer__date {
  color: rgba(139, 139, 139, 1);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 84px 27px 20px 30px;
  }

  .footer__title {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__list {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 25px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 80px 10px 10px 10px;
  }

  .footer__row {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
    padding-top: 46px;
  }

  .footer__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__list {
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
}
