.color_primary {
  background-color: #3ddc84;
  color: black !important;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
}

.color_secondary {
  background: #303030;
}

.color_stack {
  background-color: #303030;
}

.color_text {
  color: rgba(139, 139, 139, 1);
}

.color_background {
  background-color: #272727;
}

.color_error {
  color: #ee3465 !important;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
}

.text_input {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.text_title {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
}

.text_subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.88px;
}

.text_medium {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.link {
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
}

.link-burger {
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.link:hover {
  opacity: 0.6;
}

.underline-project {
  border-bottom: 1px solid white;
  padding-bottom: 23px;
}

.underline-about {
  border-bottom: 1px solid white;
  padding-bottom: 23px;
}

.underline-portfolio {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  padding: 20px 0 19px 0;
}

.underline-profile {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.underline-footer {
  position: relative;
}

.underline-footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  bottom: 0;
  left: 0;
  transform: translate(0, 25px);
}

.underline-footer {
  position: relative;
}

.underline-footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(66, 66, 66, 1);
  bottom: 0;
  left: 0;
  transform: translate(0, 20px);
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  .text_medium {
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .text_title {
    font-size: 50px;
    font-weight: 400;
    line-height: 116%;
  }
  .text_subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: calc(22 / 18);
  }
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .color_primary {
    padding: 5px 12px;
  }

  .color_text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .text {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }

  .text_title {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .tech__text {
    margin: 0;
  }

  .text_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
